.App {
  background: linear-gradient(to bottom, #9C27B0, #673AB7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 8rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: perspective(600px) rotateX(20deg);
  transition: transform 0.5s;
}

.counter:hover {
  transform: perspective(500px) rotateX(0deg);
}

.counter__number {
  font-weight: bold;
}

.counter__label {
  font-size: 2rem;
  margin-left: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.counter__input {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__input label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.counter__input input {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}
